@using ChinaFood
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@{
    var x = SharedLocalizer;
}
<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo__link">@SharedLocalizer["CompName"]</a>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        @await Html.PartialAsync("Forms/SelectLanguagePartial")
                    </li>
                    <li>
                        <div class="nav__item nav__cart">
                            <a href="/Cart/Cart" class="cart-icon">
                                @SharedLocalizer["Cart"]<span class="cart-count">0</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <nav class="nav" id="nav">
                <div class="nav__row">
                    <div class="nav__item nav__language">
                        @await Html.PartialAsync("Forms/SelectLanguagePartial")
                    </div>
                    <div class="nav__item nav__cart">
                        <a href="/Cart/Cart" class="cart-icon">
                            <i class="fas fa-shopping-cart"></i> <!-- Иконка корзины -->
                            <span class="cart-count">0</span> <!-- Количество товаров -->
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>