@using ChinaFood
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer

<div class="poster">
    <img src="~/images/back.jpg" alt="" class="poster__back">
    <span class="poster__overlayed"></span>
    <div class="container">
        <div class="poster__column">
            <div class="poster__heading">
                <p>@SharedLocalizer["PosterTitle1"]</p>
                <p>@SharedLocalizer["PosterTitle2"]</p>
            </div>
            <div class="poster__form-block">
                @await Html.PartialAsync("Forms/SearchForm")
            </div>
        </div>
    </div>
</div>