<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("FontsPartial")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChinaFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChinaFood.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/js/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("PosterPartial")

        @RenderBody()

        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
