@using ChinaFood
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@{
    var x = SharedLocalizer;
}
<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo__link">@SharedLocalizer["CompName"]</a>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a href="" class="header__link">Currency</a>
                    </li>
                    <li>
                        @await Html.PartialAsync("SelectLanguagePartial")
                    </li>
                    <li>
                        <a href="" class="header__link">Register object</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register" class="header__link">@SharedLocalizer["Register"]</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Login" class="header__link">Login</a>
                    </li>
                </ul>
            </nav>
            <nav class="nav">
                <div class="nav__row">
                    <div class="nav__item nav__currency">
                        <a href="" class="nav__link nav__link_white">AMD</a>
                    </div>
                    <div class="nav__item nav__language">
                        @await Html.PartialAsync("SelectLanguagePartial")
                    </div>
                    <div class="nav__item nav__cart">
                        <a href="/Cart/Cart" class="cart-icon">
                            <i class="fas fa-shopping-cart"></i> <!-- Иконка корзины -->
                            <span class="cart-count">0</span> <!-- Количество товаров -->
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>