<body>
    <br>
    <main class="container">
        <div class="starter-template text-center py-5 px-3">
            <h1>Admin Page</h1>
            <p class="lead">Use this page to access HotBooking site's database.</p>
        </div>       
    </main>
</body>
