<body>
    <br>
    <main class="container">
        <div class="starter-template text-center py-5 px-3">
            <h1>Ադմինի Էջ</h1>
            <p class="lead">Էջը նախատեսված է ChinaFood կայքի տվյալների բազան փոփոխելու համար։</p>
        </div>       
    </main>
</body>
